# Limpieza de datos: CASO BANCO
- Agregando la libreria de pandas.

In [10]:
import pandas as pd

- Leyendo el archivo dataset_banco.csv

In [11]:
data = pd.read_csv("banco//dataset_banco.csv")
data.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,management,married,tertiary,no,2143.0,yes,no,unknown,5,may,261.0,1,-1.0,0,unknown,no
1,44,technician,single,secondary,no,29.0,yes,no,unknown,5,may,151.0,1,-1.0,0,unknown,no
2,33,entrepreneur,married,secondary,no,2.0,yes,yes,unknown,5,may,76.0,1,-1.0,0,unknown,no
3,47,blue-collar,married,unknown,no,1506.0,yes,no,unknown,5,may,92.0,1,-1.0,0,unknown,no
4,33,unknown,single,unknown,no,1.0,no,no,unknown,5,may,198.0,1,-1.0,0,unknown,no

- Ver el tipo de dato de cada columna

In [12]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45215 entries, 0 to 45214
Data columns (total 17 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   age        45215 non-null  int64
 1   job        45213 non-null  object
 2   marital    45214 non-null  object
 3   education  45214 non-null  object
 4   default    45215 non-null  object
 5   balance    45213 non-null  float64
 6   housing    45215 non-null  object
 7   loan       45215 non-null  object
 8   contact    45215 non-null  object
 9   day        45215 non-null  int64
 10  month      45215 non-null  object
 11  duration   45214 non-null  float64
 12  campaign   45215 non-null  int64
 13  pdays      45214 non-null  float64
 14  previous   45215 non-null  int64
 15  poutcome   45215 non-null  object
 16  y          45215 non-null  object
dtypes: float64(3), int64(4), object(10)
memory usage: 5.9+ MB

## Realizando limpieza

Realizaremos la limpieza tomando en cuenta las siguientes situanciones

1. Datos faltantes en alguna celda
2. Columas irrelevantes (que no respondan al problema que queremos resolver)
3. Registros (filas) repetidos
4. Valores externos (autliers) en caso de las variables númericas. Se deben de analizar en detalle pues no necesariamente la solución es eliminarlos.
5. Errores tipográficos en caso de las variables categóricas.


- Datos faltantes

In [15]:
# Eliminamos todas las filas que tengan un datos faltante.
data.dropna(inplace = True)

# Revisamos si la eliminación fue correcta.
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 45207 entries, 0 to 45214
Data columns (total 17 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   age        45207 non-null  int64
 1   job        45207 non-null  object
 2   marital    45207 non-null  object
 3   education  45207 non-null  object
 4   default    45207 non-null  object
 5   balance    45207 non-null  float64
 6   housing    45207 non-null  object
 7   loan       45207 non-null  object
 8   contact    45207 non-null  object
 9   day        45207 non-null  int64
 10  month      45207 non-null  object
 11  duration   45207 non-null  float64
 12  campaign   45207 non-null  int64
 13  pdays      45207 non-null  float64
 14  previous   45207 non-null  int64
 15  poutcome   45207 non-null  object
 16  y          45207 non-null  object
dtypes: float64(3), int64(4), object(10)
memory usage: 6.2+ MB

- Columas irrelevantes

- Filas Repetidas

In [16]:
print(f'La cantidad actual es: {data.shape}')
data.drop_duplicates(inplace = True)
print(f'La cantidad luego de eliminar datos repetidos  es: {data.shape}')

La cantidad actual es: (45207, 17)
La cantidad luego de eliminar datos repetidos  es: (45203, 17)

In [ ]:
cols_num = ['age','']