In [87]:
#Leer Archivos con with txt

with open("leer.txt", encoding="UTF-8") as archivo:
    #leemos el archivo
    contenido = archivo.read()
    #mostraamos el contenido
    print(contenido)

Hola
mundolinea
linea
linea
linea
linea

In [88]:
#Escribir archivos txt con W
with open("leer.txt",'w',encoding="UTF-8") as archivo:
    #sobre escribiendo el archivo
    #archivo.write("jajjajaajj te la reconra")

    archivo.writelines(["Hola\n","mundo"])

In [89]:
#Agregando contenido con A
with open("leer.txt",'a',encoding="UTF-8") as archivo:
    for i in range(5):
        archivo.write("linea\n")

In [90]:
#Leer archivos csv
import csv as c
with open("datos_csv.csv") as archivo:
    leer = c.reader(archivo)
    for row in leer:
        print(row)

['\ufeffNOMBRE', 'NOTA1', 'NOTA2', 'NOTA3']
['JUAN', '15', '19', '0']
['MARIA', '15', '10', '11']
['ANDRES', '6', '20', '5']
['ANTONIO', '8', '13', '16']
['MIGUEL', '7', '10', '5']
['ALEJANDRO', '5', '12', '13']
['MERCEDES', '14', '16', '10']
['MERY', '15', '9', '8']
['JULIO', '14', '10', '15']
['RENATO', '14', '15', '3']
['VALERIA', '14', '7', '6']
['VALENTINO', '16', '17', '6']
['LEANDRO', '2', '20', '8']
['JOSE', '6', '10', '20']
['PEDRO', '16', '9', '1']
['LUIS', '0', '0', '6']
['MANUEL', '14', '20', '6']
['CARLOS', '12', '0', '4']
['CARLA', '13', '16', '14']
['ANDREA', '18', '14', '3']
['BETTY', '4', '0', '15']
['BEATRIZ', '12', '1', '9']
['BORIS', '20', '12', '7']
['RENATA', '13', '0', '9']
['RAQUEL', '5', '15', '2']
['LESLIE', '10', '11', '9']
['CINTHIA', '17', '3', '14']
['IVAN', '3', '1', '4']
['RAMIRO', '1', '11', '11']
['JANET', '1', '15', '1']
['LEONEL', '18', '10', '3']

In [91]:
import pandas as pd

archivo = pd.read_csv("datos_csv.csv")
#print(archivo)
print(archivo["NOMBRE"])

0          JUAN
1         MARIA
2        ANDRES
3       ANTONIO
4        MIGUEL
5     ALEJANDRO
6      MERCEDES
7          MERY
8         JULIO
9        RENATO
10      VALERIA
11    VALENTINO
12      LEANDRO
13         JOSE
14        PEDRO
15         LUIS
16       MANUEL
17       CARLOS
18        CARLA
19       ANDREA
20        BETTY
21      BEATRIZ
22        BORIS
23       RENATA
24       RAQUEL
25       LESLIE
26      CINTHIA
27         IVAN
28       RAMIRO
29        JANET
30       LEONEL
Name: NOMBRE, dtype: object

In [92]:
import pandas as pd
#Leer el archivo CSV con datos de notas
archivo = pd.read_csv("datos_csv.csv")

#Agregar la columna promedio
archivo["PROMEDIO"] = (archivo["NOTA1"] + archivo["NOTA2"] + archivo["NOTA3"]) / 3


#Inprimir
print(archivo)

#Separando aprobados de reprobados
aprobados = archivo[archivo["PROMEDIO"]>10]
reprobados = archivo[archivo["PROMEDIO"]<=10]

#Inprimir
print(aprobados)
print(reprobados)

#Guardando en archivos separados
aprobados.to_csv("aprobados.csv")
reprobados.to_csv("reprobados.csv")

       NOMBRE  NOTA1  NOTA2  NOTA3   PROMEDIO
0        JUAN     15     19      0  11.333333
1       MARIA     15     10     11  12.000000
2      ANDRES      6     20      5  10.333333
3     ANTONIO      8     13     16  12.333333
4      MIGUEL      7     10      5   7.333333
5   ALEJANDRO      5     12     13  10.000000
6    MERCEDES     14     16     10  13.333333
7        MERY     15      9      8  10.666667
8       JULIO     14     10     15  13.000000
9      RENATO     14     15      3  10.666667
10    VALERIA     14      7      6   9.000000
11  VALENTINO     16     17      6  13.000000
12    LEANDRO      2     20      8  10.000000
13       JOSE      6     10     20  12.000000
14      PEDRO     16      9      1   8.666667
15       LUIS      0      0      6   2.000000
16     MANUEL     14     20      6  13.333333
17     CARLOS     12      0      4   5.333333
18      CARLA     13     16     14  14.333333
19     ANDREA     18     14      3  11.666667
20      BETTY      4      0     15   6.333333
21    BEATRIZ     12      1      9   7.333333
22      BORIS     20     12      7  13.000000
23     RENATA     13      0      9   7.333333
24     RAQUEL      5     15      2   7.333333
25     LESLIE     10     11      9  10.000000
26    CINTHIA     17      3     14  11.333333
27       IVAN      3      1      4   2.666667
28     RAMIRO      1     11     11   7.666667
29      JANET      1     15      1   5.666667
30     LEONEL     18     10      3  10.333333
       NOMBRE  NOTA1  NOTA2  NOTA3   PROMEDIO
0        JUAN     15     19      0  11.333333
1       MARIA     15     10     11  12.000000
2      ANDRES      6     20      5  10.333333
3     ANTONIO      8     13     16  12.333333
6    MERCEDES     14     16     10  13.333333
7        MERY     15      9      8  10.666667
8       JULIO     14     10     15  13.000000
9      RENATO     14     15      3  10.666667
11  VALENTINO     16     17      6  13.000000
13       JOSE      6     10     20  12.000000
16     MANUEL     14     20      6  13.333333
18      CARLA     13     16     14  14.333333
19     ANDREA     18     14      3  11.666667
22      BORIS     20     12      7  13.000000
26    CINTHIA     17      3     14  11.333333
30     LEONEL     18     10      3  10.333333
       NOMBRE  NOTA1  NOTA2  NOTA3   PROMEDIO
4      MIGUEL      7     10      5   7.333333
5   ALEJANDRO      5     12     13  10.000000
10    VALERIA     14      7      6   9.000000
12    LEANDRO      2     20      8  10.000000
14      PEDRO     16      9      1   8.666667
15       LUIS      0      0      6   2.000000
17     CARLOS     12      0      4   5.333333
20      BETTY      4      0     15   6.333333
21    BEATRIZ     12      1      9   7.333333
23     RENATA     13      0      9   7.333333
24     RAQUEL      5     15      2   7.333333
25     LESLIE     10     11      9  10.000000
27       IVAN      3      1      4   2.666667
28     RAMIRO      1     11     11   7.666667
29      JANET      1     15      1   5.666667

In [93]:

aprobados.to_csv("aprobados.csv")
reprobados.to_csv("reprobados.csv")

In [94]:

aprobados = archivo[archivo["PROMEDIO"]>=10]
reprobados = archivo[archivo["PROMEDIO"]<10]
print(aprobados)
print(reprobados)

       NOMBRE  NOTA1  NOTA2  NOTA3   PROMEDIO
0        JUAN     15     19      0  11.333333
1       MARIA     15     10     11  12.000000
2      ANDRES      6     20      5  10.333333
3     ANTONIO      8     13     16  12.333333
5   ALEJANDRO      5     12     13  10.000000
6    MERCEDES     14     16     10  13.333333
7        MERY     15      9      8  10.666667
8       JULIO     14     10     15  13.000000
9      RENATO     14     15      3  10.666667
11  VALENTINO     16     17      6  13.000000
12    LEANDRO      2     20      8  10.000000
13       JOSE      6     10     20  12.000000
16     MANUEL     14     20      6  13.333333
18      CARLA     13     16     14  14.333333
19     ANDREA     18     14      3  11.666667
22      BORIS     20     12      7  13.000000
25     LESLIE     10     11      9  10.000000
26    CINTHIA     17      3     14  11.333333
30     LEONEL     18     10      3  10.333333
     NOMBRE  NOTA1  NOTA2  NOTA3  PROMEDIO
4    MIGUEL      7     10      5  7.333333
10  VALERIA     14      7      6  9.000000
14    PEDRO     16      9      1  8.666667
15     LUIS      0      0      6  2.000000
17   CARLOS     12      0      4  5.333333
20    BETTY      4      0     15  6.333333
21  BEATRIZ     12      1      9  7.333333
23   RENATA     13      0      9  7.333333
24   RAQUEL      5     15      2  7.333333
27     IVAN      3      1      4  2.666667
28   RAMIRO      1     11     11  7.666667
29    JANET      1     15      1  5.666667

In [95]:
import pandas as pd
#Leer el archivo CSV con datos de notas
archivo = pd.read_csv("datos_csv.csv")

#Agregar la columna promedio
archivo["PROMEDIO"] = (archivo["NOTA1"] + archivo["NOTA2"] + archivo["NOTA3"]) / 3
#Agregamos columas de aprobado y reprobado
archivo.loc[archivo["PROMEDIO"]>10,"RESULTADO"] = "APROBADO"
archivo.loc[archivo["PROMEDIO"]<=10,"RESULTADO"] = "REPROBADO"


#Inprimir
print(archivo)

#Separando aprobados de reprobados
aprobados = archivo[archivo["PROMEDIO"]>10]
reprobados = archivo[archivo["PROMEDIO"]<=10]

#Inprimir
print(aprobados)
print(reprobados)

#Guardando en archivos separados
aprobados.to_csv("aprobados.csv")
reprobados.to_csv("reprobados.csv")

       NOMBRE  NOTA1  NOTA2  NOTA3   PROMEDIO  RESULTADO
0        JUAN     15     19      0  11.333333   APROBADO
1       MARIA     15     10     11  12.000000   APROBADO
2      ANDRES      6     20      5  10.333333   APROBADO
3     ANTONIO      8     13     16  12.333333   APROBADO
4      MIGUEL      7     10      5   7.333333  REPROBADO
5   ALEJANDRO      5     12     13  10.000000  REPROBADO
6    MERCEDES     14     16     10  13.333333   APROBADO
7        MERY     15      9      8  10.666667   APROBADO
8       JULIO     14     10     15  13.000000   APROBADO
9      RENATO     14     15      3  10.666667   APROBADO
10    VALERIA     14      7      6   9.000000  REPROBADO
11  VALENTINO     16     17      6  13.000000   APROBADO
12    LEANDRO      2     20      8  10.000000  REPROBADO
13       JOSE      6     10     20  12.000000   APROBADO
14      PEDRO     16      9      1   8.666667  REPROBADO
15       LUIS      0      0      6   2.000000  REPROBADO
16     MANUEL     14     20      6  13.333333   APROBADO
17     CARLOS     12      0      4   5.333333  REPROBADO
18      CARLA     13     16     14  14.333333   APROBADO
19     ANDREA     18     14      3  11.666667   APROBADO
20      BETTY      4      0     15   6.333333  REPROBADO
21    BEATRIZ     12      1      9   7.333333  REPROBADO
22      BORIS     20     12      7  13.000000   APROBADO
23     RENATA     13      0      9   7.333333  REPROBADO
24     RAQUEL      5     15      2   7.333333  REPROBADO
25     LESLIE     10     11      9  10.000000  REPROBADO
26    CINTHIA     17      3     14  11.333333   APROBADO
27       IVAN      3      1      4   2.666667  REPROBADO
28     RAMIRO      1     11     11   7.666667  REPROBADO
29      JANET      1     15      1   5.666667  REPROBADO
30     LEONEL     18     10      3  10.333333   APROBADO
       NOMBRE  NOTA1  NOTA2  NOTA3   PROMEDIO RESULTADO
0        JUAN     15     19      0  11.333333  APROBADO
1       MARIA     15     10     11  12.000000  APROBADO
2      ANDRES      6     20      5  10.333333  APROBADO
3     ANTONIO      8     13     16  12.333333  APROBADO
6    MERCEDES     14     16     10  13.333333  APROBADO
7        MERY     15      9      8  10.666667  APROBADO
8       JULIO     14     10     15  13.000000  APROBADO
9      RENATO     14     15      3  10.666667  APROBADO
11  VALENTINO     16     17      6  13.000000  APROBADO
13       JOSE      6     10     20  12.000000  APROBADO
16     MANUEL     14     20      6  13.333333  APROBADO
18      CARLA     13     16     14  14.333333  APROBADO
19     ANDREA     18     14      3  11.666667  APROBADO
22      BORIS     20     12      7  13.000000  APROBADO
26    CINTHIA     17      3     14  11.333333  APROBADO
30     LEONEL     18     10      3  10.333333  APROBADO
       NOMBRE  NOTA1  NOTA2  NOTA3   PROMEDIO  RESULTADO
4      MIGUEL      7     10      5   7.333333  REPROBADO
5   ALEJANDRO      5     12     13  10.000000  REPROBADO
10    VALERIA     14      7      6   9.000000  REPROBADO
12    LEANDRO      2     20      8  10.000000  REPROBADO
14      PEDRO     16      9      1   8.666667  REPROBADO
15       LUIS      0      0      6   2.000000  REPROBADO
17     CARLOS     12      0      4   5.333333  REPROBADO
20      BETTY      4      0     15   6.333333  REPROBADO
21    BEATRIZ     12      1      9   7.333333  REPROBADO
23     RENATA     13      0      9   7.333333  REPROBADO
24     RAQUEL      5     15      2   7.333333  REPROBADO
25     LESLIE     10     11      9  10.000000  REPROBADO
27       IVAN      3      1      4   2.666667  REPROBADO
28     RAMIRO      1     11     11   7.666667  REPROBADO
29      JANET      1     15      1   5.666667  REPROBADO

In [96]:


archivo.loc[archivo["PROMEDIO"]>10,"RESULTADO"] = "APROBADO"
archivo.loc[archivo["PROMEDIO"]<=10,"RESULTADO"] = "REPROBADO"

print(archivo)

       NOMBRE  NOTA1  NOTA2  NOTA3   PROMEDIO  RESULTADO
0        JUAN     15     19      0  11.333333   APROBADO
1       MARIA     15     10     11  12.000000   APROBADO
2      ANDRES      6     20      5  10.333333   APROBADO
3     ANTONIO      8     13     16  12.333333   APROBADO
4      MIGUEL      7     10      5   7.333333  REPROBADO
5   ALEJANDRO      5     12     13  10.000000  REPROBADO
6    MERCEDES     14     16     10  13.333333   APROBADO
7        MERY     15      9      8  10.666667   APROBADO
8       JULIO     14     10     15  13.000000   APROBADO
9      RENATO     14     15      3  10.666667   APROBADO
10    VALERIA     14      7      6   9.000000  REPROBADO
11  VALENTINO     16     17      6  13.000000   APROBADO
12    LEANDRO      2     20      8  10.000000  REPROBADO
13       JOSE      6     10     20  12.000000   APROBADO
14      PEDRO     16      9      1   8.666667  REPROBADO
15       LUIS      0      0      6   2.000000  REPROBADO
16     MANUEL     14     20      6  13.333333   APROBADO
17     CARLOS     12      0      4   5.333333  REPROBADO
18      CARLA     13     16     14  14.333333   APROBADO
19     ANDREA     18     14      3  11.666667   APROBADO
20      BETTY      4      0     15   6.333333  REPROBADO
21    BEATRIZ     12      1      9   7.333333  REPROBADO
22      BORIS     20     12      7  13.000000   APROBADO
23     RENATA     13      0      9   7.333333  REPROBADO
24     RAQUEL      5     15      2   7.333333  REPROBADO
25     LESLIE     10     11      9  10.000000  REPROBADO
26    CINTHIA     17      3     14  11.333333   APROBADO
27       IVAN      3      1      4   2.666667  REPROBADO
28     RAMIRO      1     11     11   7.666667  REPROBADO
29      JANET      1     15      1   5.666667  REPROBADO
30     LEONEL     18     10      3  10.333333   APROBADO

In [97]:
salida = archivo.RESULTADO.unique()
print(salida)

for i in archivo.RESULTADO.unique():
    archivo2 = archivo[archivo["RESULTADO"]==i]
    print(archivo2)
    archivo2.to_csv(f"{i}.csv")

['APROBADO' 'REPROBADO']
       NOMBRE  NOTA1  NOTA2  NOTA3   PROMEDIO RESULTADO
0        JUAN     15     19      0  11.333333  APROBADO
1       MARIA     15     10     11  12.000000  APROBADO
2      ANDRES      6     20      5  10.333333  APROBADO
3     ANTONIO      8     13     16  12.333333  APROBADO
6    MERCEDES     14     16     10  13.333333  APROBADO
7        MERY     15      9      8  10.666667  APROBADO
8       JULIO     14     10     15  13.000000  APROBADO
9      RENATO     14     15      3  10.666667  APROBADO
11  VALENTINO     16     17      6  13.000000  APROBADO
13       JOSE      6     10     20  12.000000  APROBADO
16     MANUEL     14     20      6  13.333333  APROBADO
18      CARLA     13     16     14  14.333333  APROBADO
19     ANDREA     18     14      3  11.666667  APROBADO
22      BORIS     20     12      7  13.000000  APROBADO
26    CINTHIA     17      3     14  11.333333  APROBADO
30     LEONEL     18     10      3  10.333333  APROBADO
       NOMBRE  NOTA1  NOTA2  NOTA3   PROMEDIO  RESULTADO
4      MIGUEL      7     10      5   7.333333  REPROBADO
5   ALEJANDRO      5     12     13  10.000000  REPROBADO
10    VALERIA     14      7      6   9.000000  REPROBADO
12    LEANDRO      2     20      8  10.000000  REPROBADO
14      PEDRO     16      9      1   8.666667  REPROBADO
15       LUIS      0      0      6   2.000000  REPROBADO
17     CARLOS     12      0      4   5.333333  REPROBADO
20      BETTY      4      0     15   6.333333  REPROBADO
21    BEATRIZ     12      1      9   7.333333  REPROBADO
23     RENATA     13      0      9   7.333333  REPROBADO
24     RAQUEL      5     15      2   7.333333  REPROBADO
25     LESLIE     10     11      9  10.000000  REPROBADO
27       IVAN      3      1      4   2.666667  REPROBADO
28     RAMIRO      1     11     11   7.666667  REPROBADO
29      JANET      1     15      1   5.666667  REPROBADO